html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

main {
    display: flex;
    height: 100vh;
}

.img_joao, .img_luis {
    width: 40%;
    height: 100%;
}

.img_paulo {
    width: 20%;
    height: 100%;
}

main img { /* ajeitar a imagem do DS1 pq tem uma margin nela */
    width: 100%;
    height: 100vh;
}